<div class="container">
    <div>
        <label>{{pageTitle}}</label>
    </div>
    <div>
        <button class="btnAdd" [routerLink]="['/user/add']">Add book</button>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-head-stay">Title</th>
                    <th class="table-head-stay">Publish date</th>
                    <th class="table-head-stay">Author</th>
                    <th class="table-head-stay"></th>
                    <th class="table-head-stay"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{book.title}}</td>
                    <td>{{book.publishDate}}</td>
                    <td>{{book.author.name + ' ' + book.author.surname}}</td>
                    <td><a [routerLink]="['/book','book.bookId']">details</a></td>
                    <td><a [routerLink]="['/book/edit','book.bookId']">edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btnAdd" (click)="navigateBack()">Back</button>
    </div>
</div>