<div class="container">
    <div>
        <label>{{pageTitle}}</label>
    </div>
    <div>
        <button class="btnAdd" [routerLink]="['/author/add']">Add author</button>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="table-head-stay">Name</th>
                    <th class="table-head-stay">Surname</th>
                    <th class="table-head-stay"></th>
                    <th class="table-head-stay"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let author of authors">
                    <td>{{author.aithorId}}</td>
                    <td>{{author.name}}</td>
                    <td>{{author.surname}}</td>
                    <td><a [routerLink]="['author/edit','author.aithorId']">edit</a></td>
                    <td><a [routerLink]="['author','author.aithorId']">details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btnAdd" (click)="navigateBack()">Back</button>
    </div>
</div>