<div class="container">
    <div>
        <label>{{pageTitle}}</label>
    </div>
    <div>
        <button class="btnAdd" [routerLink]="['/user/add']">Add user</button>
        <button class="btnAdd" [routerLink]="['/book/add']">Add book</button>
        <button class="btnAdd" [routerLink]="['/user-book/allocate']">Allocate book to user</button>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-head-stay"></th>
                    <th class="table-head-stay">Book</th>
                    <th class="table-head-stay">User</th>
                    <th class="table-head-stay">State</th>
                    <th class="table-head-stay"></th>
                    <th class="table-head-stay"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userBook of userBooks" class="danger" [class]="getRowClass(userBook)">
                    <td>{{userBook.userBookId}}</td>
                    <td>{{userBook.book.title}}</td>
                    <td>{{userBook.user.name + ' ' + userBook.user.surname}}</td>
                    <td>{{userBook.currentState.userBookStateId}}</td>
                    <td><a [routerLink]="['/user-book','userBook.userBookId']">details</a></td>
                    <td><a [routerLink]="['/user-book/edit','userBook.userBookId']">return</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btnAdd" (click)="navigateBack()">Back</button>
    </div>
</div>